<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
     <add key="VosVideoWebUri" value="http://app.vosvideo.com"/>
     <add key="WebsocketUri" value="ws://ws.vosvideo.com/websockets"/>
     <add key="SiteId" value="36"/>
     <add key="SiteName" value="desktop" />
     <add key="Logging" value="true"/>
     <add key="ArchivePath" value=""/>
   </appSettings>
</configuration>

